<div class="flex justify-center items-center h-screen"> <!-- Utilisation de flex pour centrer verticalement et horizontalement -->
  <div class="w-full max-w-md px-4"> <!-- Utilisation de max-w-md pour limiter la largeur -->
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8">
      <h2 class="text-2xl font-semibold text-center mb-4">Bienvenue !</h2>
      <h2 class="text-2xl font-semibold text-center mb-4">Crée ton compte :</h2>
      
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { enctype: "multipart/form-data" }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="mb-4">
          <%= f.label :first_name, class: "block text-gray-700 text-sm font-bold mb-2" %>
          <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>

        <div class="mb-4">
          <%= f.label :last_name, class: "block text-gray-700 text-sm font-bold mb-2" %>
          <%= f.text_field :last_name, autocomplete: "last_name", class: "appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>

        <div class="mb-4">
          <%= f.label :email, class: "block text-gray-700 text-sm font-bold mb-2" %>
          <%= f.email_field :email, autocomplete: "email", class: "appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>

        <div class="mb-4">
          <%= f.label :password, class: "block text-gray-700 text-sm font-bold mb-2" %>
          <% if @minimum_password_length %>
            <p class="text-xs text-gray-600 mb-2">(<%= @minimum_password_length %> characters minimum)</p>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password", class: "appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>

        <div class="mb-4">
          <%= f.label :password_confirmation, class: "block text-gray-700 text-sm font-bold mb-2" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>

        <div class="flex items-center justify-center mt-4">
          <%= f.submit "S'inscrire", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
        </div>

        <%= render "devise/shared/links" %>
      <% end %>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>
