<!DOCTYPE html>
<html>
<head>
  <title>BlackCat</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A boutique for cat lovers, offering a collection of charming cat photos for sale.">
  <meta name="keywords" content="cat, cats, photos, images, boutique, sale, cat lovers">
  <meta name="author" content="Aglae Timmy Flo Hamza">
  <meta property="og:title" content="BlackCat - Photos de Chats à Vendre">
  <meta property="og:description" content="Explorez notre collection de photos uniques de chats et décorez votre espace avec des images félines charmantes.">
  <meta name="twitter:title" content="BlackCat - Photos de Chats à Vendre">
  <meta name="twitter:card" content="summary_large_image">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_importmap_tags %>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
<%= render 'layouts/navbar' %>
<%= yield %>
<%= render 'layouts/footer' %>
</body>
</html>

